hr {
	margin: none;
	color: #282828;
}

.spacer {
	margin-top: 3em;
}

.smol-spacer {
	margin-top: 1.5em;
}

.playButtonImage {
	padding-right: 5px;
}

.queue-icon-container {
	white-space: nowrap;
}

.queue-icon {
	display: inline;
}

.file-image-container {
	display: flex;
	justify-content: space-evenly;
}

.svg-flex-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.running-stereo-icon {
	margin-top: 5px;
}

.pop-in-out {
	margin-left: 1em;
	opacity: 0%;
	animation: pulse 5s;
	animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
}

@keyframes pulse {
	0% {
		opacity: 0%;
	}

	3% {
		opacity: 100%;
	}

	100% {
		opacity: 0%;
	}
}

/* Override Bootstrap CSS */
.dark-text-input {
	/* I know !important isn't great practice,
	but the browser likes to prioritize the bootstrap over main.css
	and that's not okay */
	background-color: #060606 !important;
	border-color: #282828 !important;
	color: #ffffff !important;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-box-shadow:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
